<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PostPique.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PostPiqueShareExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75F13A8A2E3585E000B9B3DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75F13A982E3585E200B9B3DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75F13AA22E3585E200B9B3DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75F13AC32E35890F00B9B3DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
